<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Alunos</title>
</head>
<body>
  <form method="POST">
    Nome: <input required type="text" name="nome"><br>
    Sobrenome: <input required type="text" name="sobrenome"><br>
    E-mail: <input required type="email" name="email"><br>
    Ano de Matrícula: <input required type="number" name="ano_matricula"><br>
    <button type="submit">Enviar cadastro do aluno</button>
  </form>

  <hr>

  <h1>Alunos</h1>

  <div>
    <% alunos.forEach(aluno => { %>
      <form action="/alunos/atualizar/<%= aluno.id %>" method="post">
        Nome: <input type="text" name="nome" value="<%= aluno.nome %>"><br>
        Sobrenome: <input type="text" name="sobrenome" value="<%= aluno.sobrenome %>"><br>
        E-mail: <input type="email" name="email" value="<%= aluno.email %>"><br>
        Ano de Matrícula: <input type="number" name="ano_matricula" value="<%= aluno.ano_matricula %>"><br>
        <a href="/alunos/matricular/<%= aluno.id %>">Matricular no ano corrente</a>
        <a href="/alunos/deletar/<%= aluno.id %>">Deletar</a>
        <input type="submit" value="Atualizar dados">
        <hr><br>  
      </form>
    <% }) %>  
  </div>

</body>
</html>